  {% if section.settings.header_banner_image %}
    {% assign image = section.settings.header_banner_image %}
  {% endif %}

  {% style %}
    .page_banner{
      background: url({{ image | img_url: '2000x' }}) no-repeat 50% 50% / cover;
    }
    .caption.captionOverlay--true h2.headline{
      color: {{section.settings.title_color}};
    }
  {% endstyle %}

  <header class="banner center page_banner">

  </header>

  <div class="caption captionOverlay--true position--center" style="background-color: {{section.settings.bg_color}};">
    {% if section.settings.red_caption %}
      <div class="right-caption"></div>
    {% endif %}
    {% if section.settings.header_banner_icon != blank %}
      <img src="{{ section.settings.header_banner_icon | img_url: 'original' }}" class="img position--center">
    {% endif%}
      <h2 class="headline text-align--center">{{ title }}</h2>
      <p>{{ content }}</p>
  </div>