  {%- if collection.image -%}
    {% assign image = collection.image %}
  {% elsif section.settings.image %}
    {% assign image = section.settings.image %}
  {%- else %}
    {% assign image = collection.products.first.featured_image %}
  {% endif %}
  
  {%if collection.image != blank %}
    {% assign mobile_image = collection.image %}
  {% else %}
    {% assign mobile_image = section.settings.mobile_image %}
  {% endif %}
  {% style %}
  {% endstyle %}

  {% if collection.metafields["global"]["header-banner-video-url"] != blank %}
      {% style %}
        header.banner{
          height: auto!important;
        }
      {% endstyle %}
  {% endif %}
  
  {% if collection.metafields["global"]["header-banner-video-url"] != blank %}
    {% assign cls = 'video-banner' %}
  {% endif %}
  
  {% if collection.description != blank %}
    {% assign text = collection.description %}
  {% else %}
    {% assign text = section.settings.default_text %}
  {% endif %}

  {% if collection.title != blank %}
    {% assign title = collection.title %}
  {% else %}
    {% assign title = section.settings.default_title %}
  {% endif %}
  {% if collection.metafields["global"]["header-banner-textbox-position"] != blank and collection.metafields["global"]["header-banner-textbox-position"] != 'none' %}
    {% assign position = collection.metafields["global"]["header-banner-textbox-position"] %}
  {% else %}
    {% assign position = section.settings.collection_title_position %}
  {% endif %}

<div class="collection-header">
  <header class="banner center page_banner {{ cls }} dark-overlay-{{ section.settings.image_darken }}">
      {% comment %} {% include 'image-element', image: image, alt: collection.title, stretch_width: true, progressive: true %} {% endcomment %}
      {% if collection.metafields["global"]["header-banner-video-url"] != blank %}
        {% assign numberAutoplay = 0 %}
        {% assign html5Autoplay = '' %}
        {% assign numberAutoloop = 1 %}
        {% assign playlistLoop = video.id %}
        {% assign html5Autoloop = 'loop="loop"' %}
        {% assign showPosterImage = false  %}
        {% assign autoplayVideo = false  %}
        {% assign variable = collection.metafields["global"]["header-banner-video-url"] | split: '/' | reverse  %}
        {% assign video = collection.metafields["global"]["header-banner-video-url"] %}
        {% if video contains 'youtu' %}
          {% assign useLazyframe = true %} 
          {%- capture iframeURL -%}https://www.youtube.com/embed/{{variable[0]}}?&autoplay={{numberAutoplay}}&loop={{numberAutoloop}}&playlist={{playlistLoop}}{%- endcapture -%}
        {% elsif video contains 'vimeo' %}
          {% assign useLazyframe = true %}
          {%- capture iframeURL -%}https://player.vimeo.com/video/{{variable[0]}}?autoplay={{numberAutoplay}}&loop={{numberAutoloop}}{%- endcapture -%}
        {% else %}
          {% assign useLazyframe = false %}
        {% endif %}
        <div class="video-responsive">
          <iframe src="{{ iframeURL }}"></iframe>
        </div>
      {% endif %}

      {% include 'image-element' with 
        image: image,
        stretch_width: true,
        max_width: 2048,
        max_height: 500,
        additional_classes: "medium-down--hide",
        alt: collection.title
      %}
      {% if collection.metafields["global"]["mobile-banner-image"] != blank %}
        <img src="{{ collection.metafields["global"]["mobile-banner-image"] }}" class="hide medium-down--show" alt="{{ title }}">
      {% else %}
        {% include 'image-element' with 
          image: mobile_image,
          stretch_width: true,
          max_width: 2048,
          max_height: 500,
          additional_classes: "hide medium-down--show",
          alt: collection.title
        %}
      {% endif %}
      {% if section.settings.display_collection_title and collection.metafields["global"]["header-banner-video-url"] == blank %}
        <div class="caption-container">
          <div class="caption captionOverlay--true position--{{position}} caption-transparency-{{ section.settings.caption_background_transparency }}
          " style="background-color: {{section.settings.cap_bg_color}};">
            {% if section.settings.red_caption %}
              <div class="right-caption"></div>
            {% endif %}
            {% if collection.metafields["global"]["collection-icon"] != blank %}
              <img src="{{ collection.metafields["global"]["collection-icon"] }}" class="img brand--logo position--{{section.settings.text_align}}" alt="{{ title }}">
            {% endif%}
            {% if title != blank %}
              <h2 class="headline text-align--{{section.settings.text_align}}" style="color: {{section.settings.cap_title_color}};">{{ title }}</h2>
            {% endif %}
            {% if text != blank %}
              <div class="text-align--{{section.settings.text_align}} full desc"><p>{{ text | strip_html }}</p></div>
              <div class="text-align--{{section.settings.text_align}} less desc"><p>{{ text | strip_html | truncate: 300, '... <a class="read_more">More</a>' }}</p></div>
            {% endif %}
          </div>
        </div>    
      {% endif %}
  </header>
</div>
