{% style %}
    .icon-bar{
        background: {{section.settings.bg_color}};
    }
    .icon-bar .columns a{
        float: none;
    }
    .icon-bar .columns a div{
        color: {{section.settings.title_color}};	
    }
    .bar-large .columns{
        margin: 50px 0px;
    }
    .bar-small .columns{
        margin: 15px 0px;
    }
{% endstyle %}
<div class="icons icon-bar bar-{{section.settings.bar_size}}">
    <div class="sixteen">
      <div class="section list-collection-wrapper">
        <div class="list-collections clearfix equal-columns--outside-trim equal-columns--clear">
            <div class="one-third medium-down--one-third columns">
              <div href="{{ section.settings.icon_url_1 }}" >
                <img src="{{ icons[0] | asset_url }}">
                <div>{{ section.settings.icon_title_1 }}</div>
              </div>
            </div>
            <div class="one-third medium-down--one-third columns">
              <div href="{{ section.settings.icon_url_2 }}" >
                <img src="{{ icons[1] | asset_url }}">
                <div>{{ section.settings.icon_title_2 }}</div>
              </div>
            </div>
            <div class="one-third medium-down--one-third columns">
              <div href="{{ section.settings.icon_url_3 }}" >
                <img src="{{ icons[2] | asset_url }}">
                <div>{{ section.settings.icon_title_3 }}</div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>