  {% if section.settings.image %}
    {% assign image = section.settings.image %}
  {%- elsif collection.image -%}
    {% assign image = collection.image %}
  {%- else %}
    {% assign image = collection.products.first.featured_image %}
  {% endif %}

  {% style %}
    .page_banner{
      background: url({{ image | img_url: '2000x' }}) no-repeat 50% 50% / cover;
    }
  {% endstyle %}

  <header class="banner center page_banner dark-overlay-{{ section.settings.image_darken }}">
      {% comment %} {% include 'image-element', image: image, alt: collection.title, stretch_width: true, progressive: true %} {% endcomment %}
      
  </header>

  {% if section.settings.display_collection_title %}

    <div class="caption captionOverlay--true position--{{section.settings.collection_title_position}}" style="background-color: {{section.settings.cap_bg_color}};">
    {% if section.settings.red_caption %}
      <div class="right-caption"></div>
    {% endif %}
    {% if collection.metafields["global"]["collection-icon"] != blank %}
      <img src="{{ collection.metafields["global"]["collection-icon"] }}" class="img position--{{section.settings.collection_title_position}}">
    {% endif%}
      <h2 class="headline text-align--{{section.settings.collection_title_position}}" style="color: {{section.settings.cap_title_color}};">{{ collection.title }}</h2>
      <p class="text-align--{{section.settings.collection_title_position}}">{{ collection.description }}</p>
    </div>
  {% endif %}
