{% raw %}
  {% assign swatch_options = '' | downcase | replace: ', ', ',' | split: ","  %}
  {% assign image_options  = '' | downcase | replace: ', ', ',' | split: ","  %}
  {% assign text_options   = '' | downcase | replace: ', ', ',' | split: ","  %}
  {% assign show_selected_variant_info = false %}

  {% assign image_size     = '500x500' %}
  {% assign images_count   = product.images | size %}
  {% assign variants_count = product.variants | size %}
  {% assign options_count  = product.options | size %}

  {% assign no_image = 'https://cdn.shopify.com/s/images/themes/product-1.png' %}

  {% assign featured_image            = product.featured_image %}
  {% assign product_price             = product.price %}
  {% assign product_compare_at_price  = product.compare_at_price %}
  {% assign second_image_index        = 2 %}
  {% assign selected_or_first_available_variant = product.first_available_variant %}

  {% if show_selected_variant_info and product.selected_or_first_available_variant %}
    {% assign selected_or_first_available_variant = product.selected_or_first_available_variant %}
    {% assign product_price             = selected_or_first_available_variant.price %}
    {% assign product_compare_at_price  = selected_or_first_available_variant.compare_at_price %}
    {% if selected_or_first_available_variant.image %}
      {% assign featured_image  = selected_or_first_available_variant.image %}
    {% endif %}
    {% for image in product.images %}
      {% if image.id == featured_image.id %}
        {% if forloop.index == images_count %}
          {% assign second_image_index = 1 %}
        {% else %}
          {% assign second_image_index = forloop.index | plus: 1 %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

  
    {% assign collection_handles                = product.collections | map: 'handle' %}
    {% assign shop_currency                     = '{% endraw %}{{shop.currency}}{% raw %}' %}
    {% assign shop_name                         = '{% endraw %}{{shop.name}}{% raw %}' %}

    {% assign collection_sidebar                = {% endraw %}{{settings.collection_sidebar}}{% raw %} %}
    {% assign image_loading_style               = '{% endraw %}{{settings.image_loading_style}}{% raw %}' %}

    {% assign collection_secondary_image        = {% endraw %}{{settings.collection_secondary_image}}{% raw %} %}
    {% assign thumbnail_hover_enabled           = {% endraw %}{{settings.thumbnail_hover_enabled}}{% raw %} %}
    {% assign quick_shop_enabled                = {% endraw %}{{settings.quick_shop_enabled}}{% raw %} %}
    {% assign sale_banner_enabled               = {% endraw %}{{settings.sale_banner_enabled}}{% raw %} %}
    {% assign enable_shopify_collection_badges  = {% endraw %}{{settings.enable_shopify_collection_badges}}{% raw %} %}
    {% assign display_vendor_collection         = {% endraw %}{{settings.display_vendor_collection}}{% raw %} %}
    {% assign description_words                 = {% endraw %}{{settings.description_words}}{% raw %} %}
    {% assign free_price_text                   = '{% endraw %}{{settings.free_price_text}}{% raw %}' %}
    {% assign product_form_style                = '{% endraw %}{{settings.product_form_style}}{% raw %}' %}
    {% assign limit_quantity                    = {% endraw %}{{settings.limit_quantity}}{% raw %} %}
    {% assign display_inventory_left            = {% endraw %}{{settings.display_inventory_left}}{% raw %} %}
    {% assign cart_action                       = '{% endraw %}{{settings.cart_action}}{% raw %}' %}
    {% assign inventory_threshold               = '{% endraw %}{{settings.inventory_threshold}}{% raw %}' %}
    {% assign collection_swatches               = {% endraw %}{{settings.collection_swatches}}{% raw %} %}

    {% assign sale                        = '{% endraw %}{{ 'collections.general.sale' | t }}{% raw %}' %}
    {% assign sold_out_text                   = '{% endraw %}{{ 'products.product.sold_out' | t }}{% raw %}' %}
    {% assign new                         = '{% endraw %}{{ 'collections.general.new' | t }}{% raw %}' %}
    {% assign from                        = '{% endraw %}{{ 'products.general.from' | t }}{% raw %}' %}
    {% assign coming_soon                 = '{% endraw %}{{ 'collections.general.coming_soon' | t }}{% raw %}' %}
    {% assign pre_order                   = '{% endraw %}{{ 'collections.general.pre_order' | t }}{% raw %}' %}
    {% assign quick_shop                  = '{% endraw %}{{ 'collections.general.quick_shop' | t }}{% raw %}' %}
    {% assign view_product_details_html   = '{% endraw %}{{ 'collections.general.view_product_details_html' | t }}{% raw %}' %}

    {% assign items_left_count_one        = '{% endraw %}{{ 'products.product.items_left_count.one' | t }}{% raw %}' %}
    {% assign items_left_count_other      = '{% endraw %}{{ 'products.product.items_left_count.other' | t }}{% raw %}' %}
    {% assign quantity                    = '{% endraw %}{{ 'products.product.quantity' | t }}{% raw %}' %}
    {% assign add_to_cart                 = '{% endraw %}{{ 'products.product.add_to_cart' | t }}{% raw %}' %}

    {% assign sold_out = false %}

    {% for tag in product.tags %}
      {% if tag == "is_out_stock" or tag == "is_low_stock" %}
        {% assign sold_out = true %}
      {% endif %}
    {% endfor %}

    <div class="spf-col-xl-4 spf-col-lg-4 spf-col-md-6 spf-col-sm-6 spf-col-6 thumbnail" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
      <div class="product-wrap">
        <div class="image__container">
          <a href="{{ product.url }}" itemprop="url">
            <div class="image__container">
              <div class="image-element__wrap">
                <img
                  class="gflazyload"
                  src="{{featured_image.src | img_url: image_size}}"
                  data-src="{{featured_image.src | img_lazyload_url}}"
                  data-sizes="auto"
                  data-aspectratio="{{featured_image.aspect_ratio}}"
                  data-parent-fit="contain"
                  alt="{{featured_image.alt | escape}}"
                  />
              </div>
            </div>
            {% if collection_secondary_image %}
             <div class="image__container">
               <img
                src="{% if images_count > 1 %}{{product.images[1].src | img_url: image_size}}{% else %}{{featured_image.src | img_url: image_size}}{% endif %}"
                data-src="{% if images_count > 1 %}{{product.images[1].src | img_lazyload_url}}{% else %}{{featured_image.src | img_lazyload_url}}{% endif %}"
                data-sizes="auto"
                data-aspectratio="{{featured_image.aspect_ratio}}"
                data-parent-fit="contain"
                class="gflazyload secondary"
                alt="{{ product.title }}"
                />
             </div>
           {% endif %}
          </a>
        </div>
    
        {% assign collection_handles = product.collections | map: 'handle' %}
        <div class="product-desc">
          <a href="{{ product.url | within: collection }}" itemprop="url" class="hidden-product-link">{{ product.title }}</a>
          <div class="info">

              {% assign sold_out = false %}

              {% for tag in product.tags %}
                {% if tag == "is_out_stock" or tag == "is_low_stock" %}
                  {% assign sold_out = true %}
                {% endif %}
              {% endfor %}
              
              <div class="product-details">
                {% if collection.title != blank %}
                  <span class="category">{{ product.type }}</span>
                {% else %}
                  <span class="category">{{ product.type }}</span>
                {% endif %}
              
                <span class="title" itemprop="name">{{ product.title }}</span>
              
                  <!-- <span class="sub-desc">{{ product_content | truncatewords: 5, "..." }}</span> -->
                {% if settings.display_vendor %}
              
                  <span class="brand">{{ product.vendor }}</span>
                {% endif %}
                {% if settings.enable_shopify_collection_badges %}
                  <div class="shopify-reviews reviewsVisibility--{{settings.enable_shopify_review_comments}}">
                    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                  </div>
                {% endif %}
                {% if collection_handles contains 'coming-soon' %}
                  <span class="coming-soon">{{ 'collections.general.coming_soon' | t }}</span>
                {% else %}
                  <span class="price {% if product.compare_at_price_max > product.price %}sale{% endif %}">
                    {% if sold_out == false %}
                      {% unless product.available == false %}
                        <span class="current_price">
                          {% if product.price_varies and product.price_min > 0 %}
                            <small><em>{{ 'products.general.from' | t }}</em></small>
                          {% endif %}
                          {% if product.price_min > 0 %}
                            <span class="money">{{ product.price_min | money }}</span>
                          {% else %}
                            {{ settings.free_price_text }}
                          {% endif %}
                        </span>

                      {% endunless %}
                    {% endif %}
              
                    <div class="sold-out">
                      {% if product.available == false or sold_out == true %}
                        {{sold_out_text}}
                      {% endif %}
                    </div>
                  </span>
                {% endif %}
              </div>
              {% assign collection_handles = product.collections | map: 'handle' %}
              {% assign variant = product.selected_or_first_available_variant %}
              <div class="button-field quick-shop-cart">
                {% capture image_paths_alts %}{% for image in product.images %}{{ image.src }}^{{ image.alt | escape }}^{{ image.id }}{% unless forloop.last %}~{% endunless %}{% endfor %}{% endcapture %}
                <span class="quick_shop ss-icon js-quick-shop-link white"
                    translatable
                    data-id="{{ product.id }}"
                    data-handle="{{ product.handle }}"
                    data-single-variant="{% if variants_count == 1 %}true{% else %}false{% endif %}"
                    data-url="{{ product.url}}"
                    data-title="{{ product.title | escape }}"
                    data-details-text="{{ view_product_details_html }}"
                    data-full-description="{{ product.description | split: '<!-- split -->' | first | escape }}"
                    data-regular-description="{{ product.description | strip_html | truncatewords: description_words | replace: 'Description', '' | replace: 'Dimensions', '' | replace: 'Details', '' | replace: 'Specs', '' | replace: 'Shipping', '' | replace: 'Size', '' | escape }}"
                    data-images="{{image_paths_alts}}"
                    data-collection-handles="{{ collection_handles | join: ','}}"
                >
                  {{ quick_shop }}                </span>
                <div class="quickshop-forms__container js-quickshop-forms__container js-quickshop-forms--{{ product.id }}">
                  {% unless collection_handles contains 'coming-soon' %}
                    {% assign variant = selected_or_first_available_variant %}
                    <div class="clearfix product_form init smart-payment-button--false {% if variants_count > 1 or options_count > 1 %}product_form_options{% endif %} product_form--{{ product_form_style }}"
                        id="product-form-{{ product.id }}"
                        data-product-form
                        data-money-format="{{ shop.money_format }}"
                        data-shop-currency="{{ shop.currency }}"
                        data-select-id="product-select-{{ product.id }}collection-template"
                        data-enable-state="false"
                        data-product="{{ product | json | escape }}"
                        {% if limit_quantity or display_inventory_left %}
                          data-variant-inventory='[{% for v in product.variants %}{"id":{{v.id}},"inventory_quantity":{{v.inventory_quantity}},"inventory_management":"{{v.inventory_management}}","inventory_policy":"{{v.inventory_policy}}"}{% if forloop.last == false %},{% endif %}{% endfor %}]'
                        {% endif %}
                        data-product-id="{{ product.id }}"
                        >
                        <form method="post" action="/cart/add" id="product_form_{{ product.id }}" accept-charset="UTF-8" class="shopify-product-form" enctype="multipart/form-data">
                          <input type="hidden" name="form_type" value="product">
                          <input type="hidden" name="utf8" value="✓">
                          <input type="hidden" name="id" value="{{variant.id}}">
                      {% if options_count > 1 %}
                        <div class="select">
                          <select id="product-select-{{ product.id }}collection-template" name="id" class="multi_select">
                            {% for v in product.variants %}
                              <option {% if v.id == variant.id %}selected="selected"{% endif %} value="{{ v.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      {% elsif options_count == 1 and variants_count > 1 or options_count == 1 and product.options[0] != "Title" %}
                        <div class="select">
                          <label>{{ product.options[0] }}</label>
                          <select id="product-select-{{ product.id }}collection-template" name="id">
                            {% for v in product.variants %}
                              <option {% if v.id == variant.id %}selected="selected"{% endif %} value="{{ v.id }}" data-sku="{{ v.sku }}">{{ v.title }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      {% else %}
                        <input type="hidden" name="id" value="{{ variant.id }}" />
                      {% endif %}

                      {% if product_form_style == "swatches" and variants_count > 1 or product_form_style == "swatches" and product.options[0].name != "Title" %}
                        <div class="swatch_options">
                          {% for option in product.options %}
                            {% assign file_extension = 'png' %}
                            {% assign swatch = option.name %}
                            {% assign found_option = false %}
                            {% assign is_color = false %}
                            {% assign option_index = 0 %}

                            {% for option in product.options %}

                            {% if option.name == swatch %}
                              {% assign found_option = true %}
                              {% assign option_index = forloop.index0 %}
                              {% assign downcased_option = swatch | downcase %}
                              {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
                                {% assign is_color = true %}
                              {% endif %}
                            {% endif %}
                            {% endfor %}
                            {% if swatch != 'Title' %}
                              <div class="swatch clearfix" data-option-index="{{ option_index }}">
                                <div translatable class="option_title">{{ swatch }}</div>
                                {% assign values = '' %}
                                {% for variant in product.variants %}
                                  {% assign value = variant.options[option_index] %}
                                  {% unless values contains value %}
                                    {% assign values = values | join: ',' %}
                                    {% assign values = values | append: ',' | append: value %}
                                    {% assign values = values | split: ',' %}

                                    <input id="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} />
                                    <div data-value="{{ value | escape }}" data-id="{{ variant.id }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }}-swatch {% if variant.available %}available{% else %}soldout{% endif %}">
                                      {% if is_color %}
                                        <div translatable class="tooltip">{{ value }}</div>
                                      {% endif %}
                                      {% if is_color %}
                                        <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}" style="background-image: url({{ value | handle | append: '.' | append: file_extension | asset_img_url: '50x' | prepend: 'https:' }}); background-color: {{ value | split: ' ' | last | handle }};">
                                          <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" alt="{{ 'products.product.sold_out' | t }}"/>
                                        </label>
                                      {% else %}
                                        <label translatable for="swatch-{{ option_index }}-{{ value | handle }}-{{ product.id }}{% if section.id %}-{{ section.id }}{% endif %}">
                                          {{ value }}<img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" alt="{{ 'products.product.sold_out' | t }}"/>
                                        </label>
                                      {% endif %}
                                    </div>
                                  {% endunless %}
                              
                                {% endfor %}
                              </div>
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endif %}
                      {% if product.available %}
                        {% if display_inventory_left %}
                          <div translatable class="items_left">
                            {% if variant.inventory_management != blank and variant.inventory_quantity > 0 %}
                              {% capture items_left_text %}
                                {% if variant.inventory_quantity == 1 %}
                                  {{ items_left_count_one }}                                {% else %}
                                  {{ items_left_count_other }}                                {% endif %}
                              {% endcapture %}
                              {% if variant.inventory_quantity <= inventory_threshold %}
                                {{ variant.inventory_quantity }} {{ items_left_text }}                              {% endif %}
                            {% endif %}
                          </div>
                        {% endif %}
                        <div class="purchase-details">
                          {% if settings.display_product_quantity %}
                            <div class="purchase-details__quantity product-quantity-box">
                              <label for="quantity">{{ quantity }}</label>
                              <span class="ss-icon product-minus js-change-quantity" data-func="minus"><span class="icon-minus"></span></span>
                              <input type="number" min="1" size="2" class="quantity" name="quantity" id="quantity" value="1" {% if limit_quantity and variant.inventory_management != blank and variant.inventory_policy == "deny" %}max="{{ variant.inventory_quantity }}"{% endif %} />
                              <span class="ss-icon product-plus js-change-quantity" data-func="plus"><span class="icon-plus"></span></span>
                            </div>
                          {% endif %}
                          <div class="purchase-details__buttons purchase-details__spb--false">
                            {% if cart_action == 'reload_page' %}
                              <input type="hidden" name="return_to" value="back" />
                            {% elsif cart_action == 'redirect_checkout' %}
                              <input type="hidden" name="return_to" value="/checkout" />
                            {% endif %}
                            {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ pre_order }}{% else %}{{ add_to_cart }}{% endif %}{% endcapture %}
                            <button translatable type="submit" name="add" class="action_button add_to_cart" data-label={{ add_to_cart_label | json }}>
                              <span class="text">{{ add_to_cart_label }}</span>
                              <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" class="checkmark">
                                <path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                              </svg>
                            </button>
                          </div>
                        </div>
                      {% endif %}
                      </form>
                    </div>
                  {% endunless %}
                </div>
                <form method="post" action="/cart/add" id="product_form_{{ product.id }}" accept-charset="UTF-8" class="shopify-product-form" enctype="multipart/form-data">
                  <input type="hidden" name="form_type" value="product">
                  <input type="hidden" name="utf8" value="✓">
                  <input type="hidden" name="id" value="{{variant.id}}">
                  <input type="hidden" name="quantity" value="1" />
                      
                  {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ pre_order }}{% else %}{{ add_to_cart }}{% endif %}{% endcapture %}
                  <button translatable type="button" name="add" {% if  product.available == false or sold_out == true %} disabled {% endif %} class="action_button ajax-submit add_to_cart quick_shop {% if  product.available == false or sold_out == true %} disabled {% endif %}" data-label={{ add_to_cart_label | json }}>
                    {% if  product.available == false or sold_out == true %} 
                      {{ sold_out_text }}
                    {% else %}
                      <span class="text">{{ add_to_cart_label }}</span>
                      <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32" class="checkmark">
                        <path fill="none" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
                      </svg>
                    {% endif %}
                  </button>
                </form>
              </div>
          </div>
        </div>
      </div>

      {% if collection_swatches %}
        {% assign file_extension = 'png' %}
        {% for option in product.options %}
          {% assign downcased_option = option.name | downcase %}
          {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
            {% assign option_index = forloop.index0 %}
            {% assign optionIndex = "option" | append: forloop.index %}
            {% assign values = '' %}
            <div class="collection_swatches">
              {% for variant in product.variants %}
                {% assign value = variant[optionIndex] %}
                {% unless values contains value %}
                  {% assign values = values | join: ',' %}
                  {% assign values = values | append: ',' | append: value %}
                  {% assign values = values | split: ',' %}
                  <a href="{{ variant.url | within: collection }}" class="swatch" data-swatch-name="meta-{{ downcased_option }}_{{ value | replace: ' ', '_' | downcase }}">
                    <span data-image="{% if variant.image.src %}{{ variant.image.src | img_url: '500x' }}{% else %}{{ featured_image.src | img_url: '500x' }}{% endif %}" style="background-image: url({{ value | handle | append: '.' | append: file_extension | asset_img_url: '50x' | prepend: 'https:' }}); background-color: {{ value | split: ' ' | last | handle }};"></span>
                  </a>
                {% endunless %}
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  {% endraw %}
