
{% if section.settings.image %}
  {% assign image = section.settings.image %}
{% endif %}

{% style %}
  .page_banner{
    background: url({{ image | img_url: '2000x' }}) no-repeat 50% 50% / cover;
  }
  .caption.captionOverlay--true h2.headline{
    color: {{section.settings.title_color}};
  }
{% endstyle %}

<header class="banner center page_banner dark-overlay-{{ section.settings.image_darken }}">
    
</header>

{% comment %} {% include 'image-element', image: image, alt: collection.title, stretch_width: true, progressive: true %} {% endcomment %}
{% if page.title != blank or page.content != blank%}
<div class="caption captionOverlay--true position--{{section.settings.collection_title_position}}"  style="background-color: {{section.settings.bg_color}};">
  {% if section.settings.enable_red_caption %}
    <div class="right-caption"></div>
  {% endif %}
  
  <h2 class="headline">{{ page.title }}</h2>
  <p>{{ page.content }}</p>
</div>
{% endif %}