{% style %}
    .icon-bar{
        background: {{section.settings.bg_color}};
    }

    .icon-bar .columns div div{
        margin-top : 4px;
        color: {{section.settings.title_color}};	
    }
    .icon-bar .columns div img{
        max-width  : 30px;
        max-height : 33px;
    }
    .icon-bar .columns div svg{
      max-width  : 30px;
      max-height : 33px;
      filter: brightness(100);
      float: left;
    }
    .bar-large .columns{
        margin: 50px 0px;
    }
    .bar-small .columns{
        margin: 15px 0px;
    } 
{% endstyle %}
{% assign size_val = 0 %}
{% for block in section.blocks %}
  {% if block.type == 'collection'%}
  {% assign size_val =  size_val | plus: 1 %}
  {% endif %}
{% endfor %}
{%if size_val == 2%}
    {% assign class_name = 'one-two' %}
{% elsif size_val == 3 %}
  {% assign class_name = 'one-third' %}
{% else %}
  {% assign class_name = 'one-fourth' %}
{% endif %}
{%- assign i = 0 -%}
<div class="icons icon-bar bar-{{section.settings.bar_size}}">
  {% if size_val > 0 %}
    <div class="sixteen">
      <div class="section list-collection-wrapper">
        <div class="list-collections clearfix equal-columns--outside-trim equal-columns--clear">
          {% for block in section.blocks %}
            {% if block.type == 'collection'%}
              {% if block.settings.svg != blank %}
                <div class="{{ class_name }} columns small-down--one-whole">
                  <div >
                    {{ block.settings.svg }}
                    <div>{{ block.settings.title }}</div>
                  </div>
                </div> 
              {% else %}
                <div class="{{ class_name }} columns small-down--one-whole">
                  <div >
                    <img src="{{ block.settings.image | img_url: 'original' }}">
                    <div>{{ block.settings.title }}</div>
                  </div>
                </div> 
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
</div>