{% if section.settings.frontpage_grid_style == false %}
  <div class="container">
    <div class="sixteen columns">
{% endif %}

    <div class="image-with-text
                featured_collections
                clearfix across-{{section.settings.featured_links_per_row}} image-align--{{ section.settings.frontpage_image_position }}
                full-width--{{ section.settings.frontpage_grid_style }}
                ">
      <section class="featured-link--section featured-link--image section-{{ forloop.index }}" {{ block.shopify_attributes }}>
        <div class="featured-link--half featured-link--image featured-link--margin image-crop--{{ block.settings.image_crop }}">
          <div class="featured-link--wrap">
              {% if type == 'product' %}
                <div class="red-caption"></div>
              {% endif %}
              {% if product.metafields["global"]["product-advertise-image"] != blank %}
              <div class="image-element__wrap animated" mobile_img_data="{{product.metafields["global"]["product-advertise-image"]}}" style="background:url({{ product.metafields["global"]["product-advertise-image"] }}) no-repeat; background-size: cover;">
                <img alt="{{ product.title }}" style="opacity: 0;" src="{{ product.metafields["global"]["product-advertise-image"] }}" data-src="{{ product.metafields["global"]["product-advertise-image"] }}" data-sizes="auto" data-srcset="" height="" width="" style="" class="transition--blur-up lazyautosizes lazyloaded">
              </div>
              {% else %}
                {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
              {% endif %}
          </div>
        </div>
        <div class="featured-link--half block--{{ block.id }}">

          <div class="info text-align--{{section.settings.frontpage_text_align}}">
            {% if type == 'product' %}
              <div class="title-icon">
                <img class="left" src="{{ 'Group.png' | asset_img_url: 'original' }}" style="width: 35px;" alt="{{ product.title }}">
              </div>
            {% endif %}

            {%  if product.metafields["global"]["product-advertise-title"] != blank %}
              <a class="collection_title text-align--left">
                {{ product.metafields["global"]["product-advertise-title"] }}
              </a>
            {% endif %}
            {% if product.metafields["global"]["product-advertise-desc"] != blank %}
              <div class="description">{{ product.metafields["global"]["product-advertise-desc"] }}</div>
            {% endif %}
          </div>
        </div>
      </section>
    </div>
{% if section.settings.frontpage_grid_style == false %}
    </div>
  </div>
{% endif %}

<style>

  {% for block in section.blocks %}
    .block--{{ block.id }} {
      background-color: {{ block.settings.bg_color }};
    }

    .block--{{ block.id }} .collection_title{
      color: {{ block.settings.title_color }};
      text-align: {{ section.settings.frontpage_text_align }}!important;
    }
    .block--{{ block.id }} p {
      color: {{ block.settings.text_color }};
    }

    .block--{{ block.id }} a.button {
      color: {{ block.settings.button_color }};
      border-color: {{ block.settings.button_color }};
      background-color : {{ block.settings.button_bg }};
    }
  {% endfor %}

  {% if section.settings.frontpage_grid_style == false and section.settings.featured_links_per_row == '1' %}
      #shopify-section-{{ section.id }} .featured-link--section {
        margin-bottom: 3%;
      }
      @media only screen and (max-width: 480px) {
        #shopify-section-{{ section.id }} .featured-link--section {
          margin-bottom: 10%;
        }
      }

      #shopify-section-{{ section.id }} .featured-link--half {
        width: 45%;
      }
      #shopify-section-{{ section.id }} .featured-link--margin {
        {% if section.settings.frontpage_image_position == 'right' %}
          margin-left: 3%;
        {% else %}
          margin-left: 0;
          margin-right: 3%;
        {% endif %}
      }
      #shopify-section-{{ section.id }} .featured-link--section:nth-child(even) .featured-link--margin {
        {% if section.settings.frontpage_image_position == 'right' %}
          margin-left: 0;
          margin-right: 3%;
        {% else %}
          margin-left: 3%;
          margin-right: 0;
        {% endif %}
      }

    {% elsif section.settings.frontpage_grid_style == false and section.settings.featured_links_per_row == '2' %}

        @media only screen and (max-width: 480px) {
          #shopify-section-{{ section.id }} .featured-link--section {
            margin-bottom: 10%;
          }
        }

        #shopify-section-{{ section.id }} .featured-link--margin {
          margin-right: 0;
          margin-left: 0;
        }

        #shopify-section-{{ section.id }} .featured-link--section:nth-child(even) .featured-link--margin {
          margin-left: 0;
          margin-right: 0;
        }

      {% endif %}
</style>
