{% comment %}
  Snippet can be used in section or block
  eg. {% include 'include-contact-form' %}
{% endcomment %}

{% comment %}Assign object as block or section{% endcomment %}
{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% assign id = object.id %}

{% assign contact_heading = object.settings.contact_heading %}
{% assign contact_subheading = object.settings.contact_subheading %}
{% assign contact_content = object.settings.contact_content %}
{% assign contact_text_position = object.settings.contact_text_position %}
{% assign contact_text_alignment = object.settings.contact_text_alignment %}

{% if context == 'contact-template' %}
  {% assign contact_content = page.content %}
  {% assign bottom_form_content = object.settings.contact_text %}
  {% assign contact_text_position = 'center' %}
  {% assign contact_text_alignment = 'left' %}
{% endif %}

<div class="container contact-form-container">
  
  <div class="contact-form">
    
    {% if contact_heading != blank %}
      <div class="contact-form__heading">
        <h2 class="title center">
          {{ contact_heading }}
        </h2>
        <div class="feature_divider"></div>
      </div>
    {% endif %}
  
    <div class="contact-form__position--{{ contact_text_position }} {% unless contact_text_position == 'center' %}seven{% else %}ten offset-by-three{% endunless %} columns">
      <div {% unless context == 'contact-template' %}class="{% if contact_text_alignment == "center" %}center{% elsif contact_text_alignment == "right" %}align_right{% endif %}"{% endunless %}>
        {% if contact_subheading != blank %}
          <div class="content-form__subheading">
            <h3>{{ contact_subheading }}</h3>
          </div>
        {% endif %}
        {% if contact_content != blank %}
          <div class="contact-form__content">
            {{ contact_content }}
          </div>
        {% endif %}
      </div>
    </div>
    
    <div class="{% unless contact_text_position == 'center' %}eight {% if contact_text_position == 'left' %}offset-by-one{% endif %}{% else %}ten offset-by-three{% endunless %} columns omega equal-columns--outside-trim">
        {{ page.content }}
    </div>
    </div> 
</div>
