{% comment %}Assign object as block or section{% endcomment %}
{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% assign id = object.id %}

{% assign contact_heading = object.settings.contact_heading %}
{% assign contact_image = object.settings.contact_image %}
{% assign contact_subheading = object.settings.contact_subheading %}
{% assign contact_content = object.settings.contact_content %}
{% assign contact_logo = object.settings.contact_logo %}
{% assign contact_text_position = object.settings.contact_text_position %}
{% assign contact_text_alignment = object.settings.contact_text_alignment %}
{% assign contact_social = object.settings.contact_social_buttons %}

{% if contact_heading != blank %}
  <div class="sixteen columns">
    <div class="custom-contact-form__heading">
      <h2 class="title center">
        {{ contact_heading | escape }}
      </h2>
      <div class="feature_divider"></div>
    </div>
  </div>
{% endif %}

<div class="contact-field">
  <div class="custom-contact-form custom-contact-form__position--{{ contact_text_position }} {% if contact_text_position == 'left' %}seven{% elsif contact_text_position == 'right' %}seven{% else %}ten offset-by-three{% endif %} columns">
    {% if contact_image %}
      <div class="custom-contact-form__image">
        {% include 'image-element', image: contact_image.src, alt: contact_image.alt %}
      </div>
    {% endif %}
    <div class="custom-contact-form__text {% if contact_text_alignment == "center" %}center{% elsif contact_text_alignment == "right" %}align_right{% endif %}">
      {% if contact_subheading != blank %}
        <h3>{{ contact_subheading | escape }}</h3>
      {% endif %}
      {% if contact_content != blank %}
        {{ contact_content }}
      {% endif %}
      {% if contact_social %}
        <div class="custom-contact-form__social">
          {% include 'social-icons' %}
        </div>
      {% endif %}
      {% if section.settings.store_info != blank %}
        <div class="custom-contact-address">
          {{ section.settings.store_info }}
        </div>
      {% endif %}

    </div>
  </div>

  <div class="custom-contact-form right {% if contact_text_position == 'left' %}seven {% elsif contact_text_position == 'right' %}eight{% else %}ten offset-by-three{% endif %} columns">
   {{ page.content }}
  </div>
</div>
