{% if section.settings.header_banner_image %}
  {% assign image = section.settings.header_banner_image %}
{% endif %}

{% style %}
.page_banner{
  background: url({{ image | img_url: '2000x' }}) no-repeat 50% 50% / cover;
}

{% endstyle %}

{% assign title = page.title %}
{% assign content = page.content %}
<div class="page-header">
  <header class="banner center page_banner  dark-overlay-{{ section.settings.image_darken }}">

  </header>
  {% if section.settings.display_collection_content or section.settings.display_collection_title %}
    {% if title != blank or content != blank %} 
      <div class="caption captionOverlay--true position--{{section.settings.collection_title_position}} caption-transparency-{{ section.settings.caption_background_transparency }}" style="background-color: {{section.settings.cap_bg_color}};">
        {% if section.settings.red_caption %}
          <div class="right-caption"></div>
        {% endif %}
        {% if section.settings.header_banner_icon != blank %}
          <img src="{{ section.settings.header_banner_icon | img_url: 'original' }}" class="img brand--logo position--{{section.settings.text_align}}">
        {% endif%}
        {% if section.settings.display_collection_title %}
          <h2 class="headline text-align--{{section.settings.text_align}}" style="color: {{section.settings.cap_title_color}};">{{ title }}</h2>
        {% endif%}
        {% if section.settings.display_collection_content %}
          <div class="text-align--{{section.settings.text_align}}" style="color: {{section.settings.cap_title_color}};"><p>{{ content | strip_html }}</p></div>
        {% endif %}
      </div> 
    {% endif %}
  {% endif %}
</div>

  
  
