{% if product.metafields["global"]["icon-bar-color"] != blank %}
  {% assign color = product.metafields["global"]["icon-bar-color"] %}
{% elsif section.settings.bg_color != blank %}
  {% assign color = section.settings.bg_color %}
{% else %}
  {% assign color = '#000' %}
{% endif %}

{% if product.metafields["global"]["icon-bar-title-color"] != blank %}
  {% assign title_color = product.metafields["global"]["icon-bar-title-color"] %}
{% elsif section.settings.title_color != blank %}
  {% assign title_color = section.settings.title_color %}
{% else %}
  {% assign title_color = '#FFFFFF' %}
{% endif %}

{% if type == 'top' %}
  {% assign blocks_str = product.metafields["global"]["top-icons"] | replace: '<p>', '<--splite-->' | remove: '</p>' %}
  {% assign blocks_str = blocks_str | remove_first: '<--splite-->' %}
  {% assign blocks = blocks_str | split: '<--splite-->' %}
{% endif %}

{% if type == 'bottom' %}
  {% assign blocks_str = product.metafields["global"]["bottom-icons"] | replace: '<p>', '<--splite-->' | remove: '</p>' %}
  {% assign blocks_str = blocks_str | remove_first: '<--splite-->' %}
  {% assign blocks = blocks_str | remove: '&nbsp;' | split: '<--splite-->' %}
{% endif %}

{% style %}
    .icon-bar{
        background: {{ color }};
    }

    .icon-bar .columns div div{
        margin-top : 4px;
        color: {{ title_color }};	
    }
    .icon-bar .columns div img{
        max-width  : 30px;
        max-height : 33px;
        {% if product.metafields["global"]["icons-color"] != 'origin' %}
          filter: invert(1);
        {% endif %}
    }
    .icon-bar .columns div svg{
      max-width  : 30px;
      max-height : 33px;
      {% if product.metafields["global"]["icons-color"] != 'origin' %}
        filter: brightness(100);
      {% endif %}
      float: left;
    }
    .bar-large .columns{
        margin: 50px 0px;
    }
    .bar-small .columns{
        margin: 15px 0px;
    } 
{% endstyle %}
{% assign size_val = 0 %}
{% assign i = 1 %}

{% for block in blocks %}
  {% if block != blank %}
    {% assign modulo = forloop.index | modulo: 2 %}
    {% unless modulo == 0 %}
      {% assign size_val =  size_val | plus: 1 %}
    {% endunless %}
  {% endif %}
{% endfor %}

{%if size_val == 2%}
    {% assign class_name = 'one-two' %}
{% elsif size_val == 3 %}
  {% assign class_name = 'one-third' %}
{% else %}
  {% assign class_name = 'one-fourth' %}
{% endif %}

{% if size_val > 0 %}
  <div class="icons icon-bar bar-{{section.settings.bar_size}}">
    <div class="sixteen">
      <div class="section list-collection-wrapper">
        <div class="list-collections clearfix equal-columns--outside-trim equal-columns--clear">
          {% for icon_block in blocks %}
            {% assign modulo = forloop.index | modulo: 2 %}
            {% unless modulo == 0 %}
                <div class="{{ class_name }} columns small-down--one-whole">
                  <div >
                    {% if icon_block contains '.svg' %}
                      <img src="{{ icon_block }}" alt="{{ forloop.index }}">
                    {% else %}
                      {{ icon_block }}
                    {% endif %}
                    
                    <div>{{ blocks[forloop.index] }}</div>
                  </div>
                </div> 
            {% endunless %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
