<div class="ingredient_bg">
    <h1 class="bg-title">Beef Stew</h1>
    <img src="{{ 'collection-bg-3.png' | asset_img_url : 'original' }}" class="offset-by-three bg-1">
    <img src="{{ 'spicy_2nd_800x.png' | asset_img_url : 'original' }}" class="bg-2">
    <div class="ingredient_content offset-by-three nine">
        <div class="columns eight" style="height: 700px;">
            <div class="ingredient_caption">
                <div class="desc-content">
                    <table>
                        <thead>
                            <th class="tleft">calories</th>
                            <th class="tright">190</th>
                        </thead>
                        <tbody>
                            <tr class="sub_head">
                                <td class="tleft">Total Fat</td>
                                <td class="tright">1.5g / 2%</td>
                            </tr>
                            <tr>
                                <td class="tleft">Total Fat</td>
                                <td class="tright">2.5g / 13%</td>
                            </tr>
                            <tr>
                                <td class="tleft">Trans Fat</td>
                                <td class="tright">0g / 0%</td>
                            </tr>
                            <tr class="sub_head">
                                <td class="tleft">Carbohydrate</td>
                                <td class="tright">30g / 11%</td>
                            </tr>
                            <tr>
                                <td class="tleft">Dietary Fiber</td>
                                <td class="tright">3g / 11%</td>
                            </tr>
                            <tr>
                                <td class="tleft">Total Sugars</td>
                                <td class="tright">5g</td>
                            </tr>
                            <tr>
                                <td class="tleft">Includes Og</td>
                                <td class="tright"></td>
                            </tr>
                            <tr>
                                <td class="tleft">Added Sugars</td>
                                <td class="tright">0g / 0%</td>
                            </tr>
                            <tr class="sub_head">
                                <td class="tleft">Protein</td>
                                <td class="tright">18g / 19%</td>
                            </tr>
                            <tr class="sub_head">
                                <td class="tleft">Cholesterol</td>
                                <td class="tright">50g / 17%</td>
                            </tr>
                            <tr class="sub_head">
                                <td class="tleft">Sodium</td>
                                <td class="tright">690g / 30%</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="ingredient_desc">
                        <h4 class="h2">Ingredients <span>(nothing artificial!)</span></h4>
                        <p>Long Grain Enriched Rice (Rice, Niacin, Ferric
                        Orthophosphate, Thiamine Menonitrate, Folic Acid),
                        Chicken White Meat (Chicken White Meat, Salt),
                        Fajita Sauce (Rendered Chicken Fat, Seasoning [Sea 
                        Salt, Chilipepper {Including Chipontle}, Onion, Garlic, 
                        Cane Sugar, Tomato Powder, Yeast Extract, Cumin, 
                        Black Pepper, Rice Concentrate, Natural Hickery 
                        Smoke Flavor, Sunflower Oil, Oregano]), Bell Pepper, 
                        Black Beans, Yellow Onion, Corn, Corn Starch.</p>
                    </div>
                </div>
                <a class="show_btn">See Less</a>
            </div>
        </div>
        
        <ul class="link_list columns three">
            <li><img src="{{'ico-ico_no_artificial_colors.png' | asset_img_url : 'original' }}"><span>NO PRESERVATIVES</span></li>
            <li><img src="{{'ico-ico_no_artificial_flavors_black.png' | asset_img_url : 'original' }}"><span>NO PRESERVATIVES</span></li>
            <li><img src="{{'ico-ico_gluten_free.png' | asset_img_url : 'original' }}"><span>NO PRESERVATIVES</span></li>
        </ul>
    </div>
</div>