<div class="ingredient_bg">
    <h1 class="bg-title">{{ product.metafields["global"]["integration-bg-text"] }}</h1>
    <div class="ingredient_content">
        <div class="columns nine">
            <img src="{{ product.metafields["global"]["integration-bg-image-2"] }}" class="bg-1">
            <div class="ingredient_caption tab-content">
                <ul class="tab-links grid">
                    {% if product.metafields["global"]["integration-title"] != blank %}
                        <li class="active grid__item one-third">
                            <a href="#tab1">{{ product.metafields["global"]["integration-title"] }}</a>
                        </li>
                    {% endif %}
                    {% if product.metafields["global"]["integration-title-1"] != blank %}
                        <li class="grid__item one-third">
                            <a href="#tab3">{{ product.metafields["global"]["integration-title-1"] }}</a>
                        </li>
                    {% endif %}
                    {% if product.metafields["global"]["integration-title-2"] != blank %}
                        <li class="grid__item one-third">
                            <a href="#tab2">{{ product.metafields["global"]["integration-title-2"] }}</a>
                        </li>
                    {% endif %} 
                </ul>
                <div class="tab-content animated">
                    <div id="tab1" class="tab active fadeIn">
                        <div class="desc-content">
                            {{ product.metafields["global"]["integration-category"] }}
                            <div class="ingredient_desc">
                                <h4 class="h2">Ingredients</h4>
                                {{ product.metafields["global"]["integration-description"] }}
                            </div>
                        </div>
                        <a class="show_btn">See Less</a>
                    </div>
                    <div id="tab2" class="tab fadeIn">
                        <div class="desc-content">
                            {{ product.metafields["global"]["integration-category-1"] }}
                            <div class="ingredient_desc">
                                <h4 class="h2">Ingredients</h4>
                                {{ product.metafields["global"]["integration-description-1"] }}
                            </div>
                        </div>
                        <a class="show_btn">See Less</a>
                    </div>
                    <div id="tab3" class="tab fadeIn">
                        <div class="desc-content">
                            {{ product.metafields["global"]["integration-category-2"] }}
                            <div class="ingredient_desc">
                                <h4 class="h2">Ingredients</h4>
                                {{ product.metafields["global"]["integration-description-2"] }}
                            </div>
                        </div>
                        <a class="show_btn">See Less</a>
                    </div>
                </div>
            </div>
        </div>
        <img src="{{ product.metafields["global"]["integration-bg-image-1"] }}" class="bg-2">
        <ul class="link_list">
            {% assign size_val = 0 %}
            {% assign i = 1 %}
            {% assign type = 'integration' %}
            {% for block in section.blocks %}
                {% if block.type == 'icon' and block.settings.product == product.handle%}
                    {% for item in  (1..4) %}
                    {% assign icon_handle = type | append: '_icon_title_' | append: item %}
                        {% if block.settings[icon_handle] != blank %}
                        {% assign size_val =  size_val | plus: 1 %}
                        {% endif %}
                    {% endfor %}
                    
                {% endif %}
            {% endfor %}

            {%if size_val == 3 %}
                {% assign class_name = 'medium-down--one-third' %}
            {% else %}
                {% assign class_name = 'medium-down--one-half' %}
            {% endif %}

            
            {% for icon_block in section.blocks %}
                {% if icon_block.type == 'icon' and icon_block.settings.product == product.handle %}
                    {% for i in  (1..4) %}

                        {% assign icon_handle = type | append: '_icon_title_' | append: i %}
                        {% assign image_handle = type | append: '_icon_image_' | append: i %}
                        {% assign svg_handle = type | append: '_icon_svg_' | append: i %}
                        {% if icon_block.settings[icon_handle] != blank %}
                            <li class="{{class_name}}">
                                <div>
                                    {% if icon_block.settings[svg_handle] != blank %}
                                        {{ icon_block.settings[svg_handle] }}
                                    {% else %}
                                        <img src="{{ icon_block.settings[image_handle] | img_url: 'original' }}">
                                    {% endif %}
                                    <span>{{ icon_block.settings[icon_handle] }}</span>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>