<div class="ingredient_bg">
    <h1 class="bg-title">{{ product.metafields["global"]["integration-bg-text"] }}</h1>
    <div class="ingredient_content">
        <div class="columns nine">
            <img src="{{ product.metafields["global"]["integration-bg-image-2"] }}" class="bg-1" alt="{{ product.title }}">
            <div class="ingredient_caption tab-content">
                <ul class="tab-links grid">
                    {% if product.metafields["global"]["integration-title"] != blank %}
                        <li class="active grid__item one-third">
                            <a href="#tab1">{{ product.metafields["global"]["integration-title"] }}</a>
                        </li>
                    {% endif %}
                    {% if product.metafields["global"]["integration-title-1"] != blank %}
                        <li class="grid__item one-third">
                            <a href="#tab3">{{ product.metafields["global"]["integration-title-1"] }}</a>
                        </li>
                    {% endif %}
                    {% if product.metafields["global"]["integration-title-2"] != blank %}
                        <li class="grid__item one-third">
                            <a href="#tab2">{{ product.metafields["global"]["integration-title-2"] }}</a>
                        </li>
                    {% endif %} 
                </ul>
                <div class="tab-content animated">
                    {% if product.metafields["global"]["integration-category"] != blank or product.metafields["global"]["integration-description"] != blank %}
                        <div id="tab1" class="tab active fadeIn">
                            <div class="desc-content">
                                {{ product.metafields["global"]["integration-category"] }}
                                {% if product.metafields["global"]["integration-description"] != blank %}
                                    <div class="ingredient_desc">
                                        <h4 class="h2">Ingredients</h4>
                                        {{ product.metafields["global"]["integration-description"] }}
                                    </div>
                                {% endif %}
                            </div>
                            {% if product.metafields["global"]["integration-description"] != blank %}
                                <a class="show_btn">See Less</a>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if product.metafields["global"]["integration-category-1"] != blank or product.metafields["global"]["integration-description-1"] != blank %}
                        <div id="tab2" class="tab fadeIn">
                            <div class="desc-content">
                                {{ product.metafields["global"]["integration-category-1"] }}
                                {% if product.metafields["global"]["integration-description-1"] != blank %}
                                    <div class="ingredient_desc">
                                        <h4 class="h2">Ingredients</h4>
                                        {{ product.metafields["global"]["integration-description-1"] }}
                                    </div>
                                {% endif %}
                            </div>
                            {% if product.metafields["global"]["integration-description-1"] != blank %}
                                <a class="show_btn">See Less</a>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if product.metafields["global"]["integration-category-2"] != blank or product.metafields["global"]["integration-description-2"] != blank %}
                        <div id="tab3" class="tab fadeIn">
                            <div class="desc-content">
                                {{ product.metafields["global"]["integration-category-2"] }}
                                {% if product.metafields["global"]["integration-description-2"] != blank %}
                                    <div class="ingredient_desc">
                                        <h4 class="h2">Ingredients</h4>
                                        {{ product.metafields["global"]["integration-description-2"] }}
                                    </div>
                                {% endif %}
                            </div>
                            {% if product.metafields["global"]["integration-description-2"] != blank %}
                                <a class="show_btn">See Less</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <img src="{{ product.metafields["global"]["integration-bg-image-1"] }}" class="bg-2" alt="{{ product.title }}">
        <ul class="link_list">
            {% assign blocks_str = product.metafields["global"]["ingredient-icons"] | replace: '<p>', '<--splite-->' | remove: '</p>' %}
            {% assign blocks_str = blocks_str | remove_first: '<--splite-->' %}
            {% assign blocks = blocks_str | split: '<--splite-->' %}
            {% assign size_val = 0 %}
            {% assign i = 1 %}
            {% assign type = 'integration' %}

            {% for block in blocks %}
                {% assign modulo = forloop.index | modulo: 2 %}
                {% unless modulo == 0 %}
                    {% assign size_val =  size_val | plus: 1 %}
                {% endunless %}
            {% endfor %}

            {%if size_val == 3 %}
                {% assign class_name = 'medium-down--one-third' %}
            {% else %}
                {% assign class_name = 'medium-down--one-half' %}
            {% endif %}

            {% for icon_block in blocks %}
                {% assign modulo = forloop.index | modulo: 2 %}
                {% unless modulo == 0 %}
                    <li class="{{class_name}}">
                        <div>
                            {% if icon_block contains '.svg' %}
                                <img src="{{ icon_block }}" alt="{{ forloop.index }}">
                            {% else %}
                                {{ icon_block | remove: '&nbsp;' }}
                            {% endif %}
                            <span>{{ blocks[forloop.index] }}</span>
                        </div>
                    </li>
                {% endunless %}
            {% endfor %}
        </ul>
    </div>
</div>

