{% assign product_found = false %}
{% assign skip = false %}
{% assign collection_group = products | map: 'id' %}
{% assign collection_group_thumb = collection_group | append : 'thumb' %}
{% assign collection_group_mobile = collection_group | append : 'mobile' %}

{% if template contains 'collection' %}
  {% assign matrixType = 'collection-matrix' %}
{% elsif template contains 'search' %}
  {% assign matrixType = 'search-matrix' %}
{% endif %}

{% assign forLimit = limit %}

{% unless template contains 'product' %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ItemList",
      "itemListElement": [
        {% for product in products limit: limit %}
          {
            "@type": "ListItem",
            "position": "{{ forloop.index | json }}",
            "url": "{{ shop.url }}{{ product.url }}",
            "name": "{{ product.title | escape }}"
          } {%- unless forloop.last -%},{%- endunless -%}
        {% endfor %}
      ]
    }
  </script>
{% endunless %}


{% for product in products limit: limit %}
  {% if product.id == skip_product.id  %}
    {% assign forLimit = limit | plus: 1 %}
  {% endif %}
{% endfor %}
<input type="hidden" class="collection_title" value="{{ collection.title }}">
<div id="gf-products" itemtype="http://schema.org/ItemList" class="product-list {{ matrixType }} clearfix equal-columns--clear equal-columns--outside-trim">
  
</div>
<div class="load-more__icon"></div>
