{% if section.settings.frontpage_grid_style == false %}
  <div class="container">
    <div class="sixteen columns">
{% endif %}

    <div class="image-with-text
                featured_collections
                clearfix across-{{section.settings.featured_links_per_row}} image-align--{{ section.settings.frontpage_image_position }}
                full-width--{{ section.settings.frontpage_grid_style }}
                ">
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          {% if block.type == 'image' %}
          <section class="featured-link--section featured-link--image section-{{ forloop.index }}" {{ block.shopify_attributes }} style="display: block;">
            <div class="featured-link--half featured-link--image featured-link--margin image-crop--{{ block.settings.image_crop }}" style="float: right;">
              <div class="featured-link--wrap">
                <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} title="{{ block.settings.title }}">
                  {% if type == 'product' %}
                    <div class="red-caption"></div>
                  {% endif %}
                  {% if block.settings.image %}
                    {% include 'image-element', image: block.settings.image, alt: block.settings.image.alt, stretch_width: true %}
                  {% else %}
                    {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                    {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                  {% endif %}
                  
                </a>
              </div>
            </div>
            <div class="featured-link--half block--{{ block.id }}">
              
              <div class="info text-align--left" style="margin-top: 50px;">
                {% if type == 'product' %}
                  <div class="title-icon">
                    <img class="left" src="{{ 'Group.png' | asset_img_url: 'original' }}" style="width: 35px;">
                  </div>
                {% endif %}
                <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="collection_title">
                  {{ page.title }}
                </a>
                {% if page.content != blank %}
                  <div class="description">{{ page.content }}</div>
                {% endif %}
                {% if block.settings.button_label != blank %}
                  <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="button {% if block.settings.is_donation_button %}donation_button_red{% endif %}">
                    {% if block.settings.is_donation_button and block.settings.donation_count != blank %}
                      <span class="count">{{ block.settings.donation_count }}</span>
                    {% endif %}
                      {{ block.settings.button_label }}
                  </a>
                {% endif %}
                <div class="icons">
                  {% if block.settings.icon_image_1 != blank %}
                    <div class="one-half columns small-down--one-whole">
                      <a href="{{ block.settings.icon_link_1 }}" >
                        <img src="{{ block.settings.icon_image_1 | img_url: "original" }}">
                        <div>{{ block.settings.icon_title_1 }}</div>
                      </a>
                    </div>
                  {% endif %}
                  {% if block.settings.icon_image_2 != blank %}
                    <div class="one-half columns small-down--one-whole">
                      <a href="{{ block.settings.icon_link_2 }}" >
                        <img src="{{ block.settings.icon_image_2 | img_url: "original" }}">
                        <div>{{ block.settings.icon_title_2 }}</div>
                      </a>
                    </div>
                  {% endif %}
                  {% if block.settings.icon_image_3 != blank %}
                    <div class="one-half columns small-down--one-whole">
                      <a href="{{ block.settings.icon_link_3 }}" >
                        <img src="{{ block.settings.icon_image_3 | img_url: "original" }}">
                        <div>{{ block.settings.icon_title_3 }}</div>
                      </a>
                    </div>
                  {% endif %}
                  {% if block.settings.icon_image_4 != blank %}
                    <div class="one-half columns small-down--one-whole">
                      <a href="{{ block.settings.icon_link_4 }}" >
                        <img src="{{ block.settings.icon_image_4 | img_url: "original" }}">
                        <div>{{ block.settings.icon_title_4 }}</div>
                      </a>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
            
            
          </section>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
{% if section.settings.frontpage_grid_style == false %}
    </div>
  </div>
{% endif %}

<style>

  {% for block in section.blocks %}
    .block--{{ block.id }} {
      background-color: {{ block.settings.bg_color }};
    }

    .block--{{ block.id }} .collection_title,
    .block--{{ block.id }} p {
      color: {{ block.settings.text_color }};
    }

    .block--{{ block.id }} a.button {
      color: {{ block.settings.text_color }};
      border-color: {{ block.settings.text_color }};
    }
  {% endfor %}

  {% if section.settings.frontpage_grid_style == false and section.settings.featured_links_per_row == '1' %}
      #shopify-section-{{ section.id }} .featured-link--section {
        margin-bottom: 3%;
      }
      @media only screen and (max-width: 480px) {
        #shopify-section-{{ section.id }} .featured-link--section {
          margin-bottom: 10%;
        }
      }

      #shopify-section-{{ section.id }} .featured-link--half {
        width: 45%;
      }
      #shopify-section-{{ section.id }} .featured-link--margin {
        {% if section.settings.frontpage_image_position == 'right' %}
          margin-left: 3%;
        {% else %}
          margin-left: 0;
          margin-right: 3%;
        {% endif %}
      }
      #shopify-section-{{ section.id }} .featured-link--section:nth-child(even) .featured-link--margin {
        {% if section.settings.frontpage_image_position == 'right' %}
          margin-left: 0;
          margin-right: 3%;
        {% else %}
          margin-left: 3%;
          margin-right: 0;
        {% endif %}
      }

    {% elsif section.settings.frontpage_grid_style == false and section.settings.featured_links_per_row == '2' %}

        @media only screen and (max-width: 480px) {
          #shopify-section-{{ section.id }} .featured-link--section {
            margin-bottom: 10%;
          }
        }

        #shopify-section-{{ section.id }} .featured-link--margin {
          margin-right: 0;
          margin-left: 0;
        }

        #shopify-section-{{ section.id }} .featured-link--section:nth-child(even) .featured-link--margin {
          margin-left: 0;
          margin-right: 0;
        }

      {% endif %}
</style>