{% comment %} ** Article (blog post) - default view ** - Template section - Uses
blocks {% endcomment %}

<div class="article">
  <div class="container main content">
    <div
      class="twelve columns offset-by-two medium-down--one-whole equal-columns--outside-trim"
    >
      <div class="section clearfix">
        <h1 class="headline">
          <!-- <span class="date">
            {{ page.metafields["global"]["Author's-date"] | date: format:"month_day_year" }}</span
          > -->
          <p>{{ page.title }}</p>
          <span class="category">{{ page.metafields["global"]["Ambassador-filters"] }}</span>
        </h1>
        <div class="featured_image">
          <img src="{% if page.metafields['global']['Content-image'] %}{{ page.metafields['global']['Content-image'] | image_url: 'original' }}{% else %}{{ page.metafields['global']['Featured-image'] | image_url: 'original' }}{% endif %}" />
        </div>
        <div class="article_content clearfix">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %} { "name": "Blog post", "class": "blog-post-section", "settings": [
] } {% endschema %}
