<script class="cartFlagX"></script>

{% include 'header-brand' %}
<div class="container main content">
  <a name="pagecontent" id="pagecontent"></a>

  {% if cart.item_count == 0 %}
    <div class="sixteen columns">
      <div class="section clearfix">
        <div class="six columns offset-by-five medium-down--one-whole">
          <p class="quote">{{ 'cart.general.continue_browsing_html' | t }}</p>

          <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}{{ routes.all_products_collection_url }}{% endif %}" class="action_button continue-button add_to_cart">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
        </div>
        <br class="clear" />
      </div>
    </div>
  {% else %}

    <div class="sixteen columns hidden js-empty-cart__message">
      <div class="section clearfix">
        <div class="six columns offset-by-five medium-down--one-whole">
          <p class="quote">{{ 'cart.general.continue_browsing_html' | t }}</p>
          <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}{{ routes.all_products_collection_url }}{% endif %}" class="action_button continue-button add_to_cart">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
        </div>
        <br class="clear" />
      </div>
    </div>

    <form action="{{ routes.cart_url }}" method="post" id="cart_form" data-cart-form="cart-template" data-total-discount="{{ cart.total_discount }}">
      <div class="section clearfix cart__wrapper">
        <div class="nine columns medium-down--one-whole">
          <h5 class="uppercase">{{ section.settings.title }}</h5>
          <div class="feature_divider"></div>

          {% assign total_saving = 0 %}
          {% for item in cart.items %}

            {% if item.variant.compare_at_price > item.variant.price %}
              {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
              {% assign total_saving = saving | plus: total_saving %}
            {% endif %}

            <div class="section clearfix cart__item" data-cart-item data-line-id="{{ forloop.index }}" data-variant-id="{{ item.id }}">
              <div class="five columns small-down--one-fifth alpha cart__item--image">
                <a href="{{ item.url }}" title="{{ item.title | escape }}" class="cart_page_image">
                  {% if item.image %}
                  {% include 'image-element', image: item.product.featured_image, alt: item.title, object_fit: settings.align_height, max_height: settings.collection_height %}
                  {% else %}
                  <div class="image-element__wrap">
                    <img src="https://cdn.shopify.com/s/images/themes/product-1.png" data-sizes="auto" alt="{{ item.title | escape }}">
                  </div>
                  {% endif %}
                </a>
              </div>

              <div class="eleven columns small-down--four-fifths omega cart_content_info cart__item--content">
                <h3 class="cart__item--title">
                  <a href="{{ item.url }}">{{ item.product.title }}<span class="tdf-cart-item-t"></span></a>
                </h3>
                <p class="meta">{{ item.sku }}</p>

                {% if item.properties %}
                  <p>
                    {% for p in item.properties %}
                      {% unless p.last == blank %}
                        {% if p.last contains '/uploads/' %}
                          <div>
                            {{ p.first }}: <a class="lightbox" href="{{ p.last }}">{{ 'cart.general.uploaded_file' | t }}</a>
                          </div>
                        {% else %}
                          <div>
                            {{ p.first }}: {{ p.last }}
                          </div>
                        {% endif %}
                      {% endunless %}
                    {% endfor %}
                  </p>
                {% endif %}

                <p class="modal_price cart__price-wrapper tdf-cart-item-p-p">
                  {% if item.price > 0 %}
                    <span class="money {% if item.price < item.variant.compare_at_price or item.line_level_discount_allocations.size > 0 %}sale{% endif %}">
                      {{ item.final_price | money }}
                    </span>
                    {% if item.price < item.variant.compare_at_price or item.line_level_discount_allocations.size > 0 %}
                      <span class="money was_price">
                        {{ item.variant.compare_at_price | money }}
                      </span>
                    {% endif %}
                  {% else %}
                      {{ settings.free_price_text }}
                  {% endif %}
                </p>

                {% if item.line_level_discount_allocations.size > 0 %}
                  {% for discount_allocation in item.line_level_discount_allocations %}
                    <p class="meta cart__item--discount">
                      <span class="label">{{ 'cart.general.discount' | t }}:</span>
                      {{ discount_allocation.discount_application.title }} (-<span class="money">{{ discount_allocation.amount | money }}</span>)
                    </p>
                  {% endfor %}
                {% endif %}

                <div class="product-quantity-box left">
                  <span class="ss-icon product-minus js-change-quantity" data-func="minus"><span class="icon-minus"></span></span>
                  <input type="number" min="0" size="2" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-cart-quantity-input="cart-template" {% if settings.limit_quantity and item.variant.inventory_management != blank and item.variant.inventory_quantity > 0 and item.variant.inventory_policy == "deny" %}max="{{ item.variant.inventory_quantity }}"{% endif %} />
                  <span class="ss-icon product-plus js-change-quantity" data-func="plus"><span class="icon-plus"></span></span>
                </div>

                <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="cart__remove-btn" data-line-id="{{ forloop.index }}" data-remove-item="cart-template"><span class="remove-icon"></span></a>

              </div>
            </div>
          {% endfor %}
          {% if cart.item_count > 0 %}
            <a href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}{{ routes.all_products_collection_url }}{% endif %}" class="continue-shopping">{{ 'cart.general.continue_shopping_link_html' | t }}</a>
          {% endif %}
        </div>
        {% assign max_price = section.settings.max_price %}
        {% assign rate_value = cart.total_price %}
        {% assign shipping_status = true %}
        {% for tag in customer.tags %}
          {% if tag == 'Ambassador' or tag == 'freeshipping orders' %}
              {% assign shipping_status = false %}
          {% endif %}
        {% endfor %}
        <div class="seven columns medium-down--one-whole right">
          <div class="section clearfix">
            <div class="subtotal">
              <h6 class="uppercase">summary</h6>
              <div class="feature_divider"></div>
              {% comment %}
              {% if shipping_status == true %}
                <div class="free-shipping-progress">
                  {% assign progress = rate_value | divided_by: max_price %}
                  <div class="progress-bar" style="width: {{  progress }}%;"></div>
                  <div class="bg_content">
                    <img src="{{ 'ico-ico_delivery_black.png' | asset_url}}">
                    {% if progress < 100 %}
                      <span>Spend ${{ max_price }} to FREE shipping</span>
                    {% else %}
                      <span>FREE SHIPPING!</span>
                    {% endif %}

                  </div>
                </div>
              {% endif %}
              {% endcomment %}

              {% if cart.cart_level_discount_applications != blank %}
                <p class="cart_discounts js-cart_discounts sale">
                {% for discount_application in cart.cart_level_discount_applications %}
                  <span class="cart_discounts--title">{{ discount_application.title }}</span>
                  <span class="cart_discounts--price">
                    -<span class="money">{{ discount_application.total_allocated_amount | money }}</span>
                  </span>
                {% endfor %}

                </p>

              {% endif %}
              <div class="checkout-note">
                <textarea id="note" name="note" rows="2" placeholder="Order Notes" class="clearfix" spellcheck="false"></textarea>
              </div>
              <p class="cart_subtotal js-cart_subtotal">
                <span class="right">
                  <span class="money"><span style="display:none" class="tdf-cart-total-flag"></span>{{ cart.total_price | money }}</span>
                </span>
                <span>{{ 'cart.general.subtotal' | t }}</span>
              </p>

              {% if section.settings.display_savings and total_saving > 0 or section.settings.display_savings and cart.total_discount > 0 %}
                <p class="cart_savings js-cart_savings sale">
                  <span class="right">
                    <span class="money">{{ total_saving | plus: cart.total_discount | money }}</span>
                  </span>
                  <span>{{ 'layout.general.savings' | t }}</span>
                </p>
              {% endif %}

              {% if settings.show_multiple_currencies %}
                {% unless shop.enabled_currencies.size > 1 %}
                  <p>
                    <small>
                      {{ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency }}
                    </small>
                  </p>
                {% endunless %}
              {% endif %}

              {% if section.settings.display_special_instructions %}
                <label for="note">{{ 'cart.general.note' | t: shop_name: shop.name }}:</label>
                <textarea id="note" name="note" rows="2">{{ cart.note }}</textarea>
              {% endif %}

              {% if settings.display_tos_checkbox %}
                <p>
                  <input type="checkbox" class="tos_agree" id="cart_agree" required />
                    <label class="tos_label" for="cart_agree">
                      {{ 'cart.general.agree_to_terms_html' | t }}
                    </label>
                  {% if settings.tos_page != blank %}
                    <a href="{{ pages[settings.tos_page].url }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
                  {% endif %}
                </p>
              {% endif %}

              {% if section.settings.cart_message != blank %}
                <div>
                  {{ section.settings.cart_message }}
                </div>
              {% endif %}

              <p class="tos_warning checkout_button">
                <button type="submit" class="action_button add_to_cart" id="checkout" name="checkout">{% if settings.show_lock_icon %}<span class="icon-lock"></span>{% endif %}{{ 'cart.general.checkout' | t }}</button>
              </p>

              {% if content_for_additional_checkout_buttons %}
                <div class="additional-checkout-buttons additional-checkout-buttons--vertical">
                  {{ content_for_additional_checkout_buttons }}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </form>
    {% if section.settings.feature_calculate %}
      {% include 'cart-shipping-calculator' %}
    {% endif %}
  {% endif %}
</div>
{% if section.settings.feature_icon_bar %}
{%- assign icons = 'ico_just_add_water.svg, ico_delivery.svg, ico_anytime.svg'  | split: ", "-%}
  {% include 'icon-bar', icons: icons %}
{% endif %}
<div class="cart__blocks">
  {% for block in section.blocks %}
    <div {{ block.shopify_attributes }} class="block__{{ block.type }} block__{{ block.id }}">
      {% if block.type == 'featured_collection' %}
        {% include 'include-featured-collection', type: 'block' %}
      {% endif %}
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Cart page",
  "class": "cart-section",
  "settings": [
    {
      "type": "header",
      "content": "Header banner"
    },
    {
        "type": "checkbox",
        "id": "feature_header_banner",
        "label": "Feauture heading banner",
        "default": true
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Header banner"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Heading title"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Heading description"
  },
    {
      "type": "checkbox",
      "id": "display_special_instructions",
      "label": "Show \"note\" text box"
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show total savings",
      "default": true
    },
    {
      "type": "richtext",
      "id": "cart_message",
      "label": "Cart message"
    },
    {
      "type": "text",
      "id": "max_price",
      "label": "Free shipping max price",
      "default": "1300"
    },
    {
      "type": "checkbox",
      "id": "feature_calculate",
      "label": "Show calculate",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "feature_icon_bar",
      "label": "Show icon bar",
      "default": true
    },
    {
      "type": "select",
      "id": "bar_size",
      "label": "Bar size",
      "options": [
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "small",
          "label": "Small"
        }
      ]
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title color"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "Featured collection",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "You may also be interested in"
        },
        {
          "type": "checkbox",
          "id": "collection_description",
          "label": "Show collection description",
          "default": false
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "radio",
          "id": "collection_style",
          "label": "Collection layout",
          "default": "grid",
          "options": [
            {
              "value": "slider",
              "label": "Slider"
            },
            {
              "value": "grid",
              "label": "Grid"
            }
          ]
        },
        {
          "type": "range",
          "id": "products_per",
          "label": "Products per row",
          "min": 2,
          "max": 7,
          "step": 1,
          "default": 6
        },
        {
          "type": "range",
          "id": "products_limit",
          "label": "Limit products",
          "min": 2,
          "max": 50,
          "step": 1,
          "default": 6
        }
      ]
    },
    {
      "type": "collection",
      "name": "icon bar",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon"
        },
         {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Subscribe"
        },
        {
          "type": "text",
          "id": "url",
          "label": "Url",
          "default": "Subscribe"
        }
      ]
    }
  ]
}
{% endschema %}
