{% comment %}
** List of collections - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

{% assign collections_per_row = section.settings.frontpage_collections_per_row %}

<div class="container">
  {% if section.blocks.size > 0 %}
    {% if section.settings.title != blank %}
      <div class="sixteen columns center">
        <h2 class="title">
          {{ section.settings.title }}
        </h2>
        <p class="subtitle">{{ section.settings.sub_title }}</p>
      </div>
    {% endif %}
    <div class="sixteen columns">
      <div class="section list-collection-wrapper">
        {% assign block_size = section.blocks | size %}
        <div class="list-collections clearfix {% if block_size > 4 %} slide_collection_list {% endif %} {% if block_size < 5 %} equal-columns--outside-trim equal-columns--clear {% endif %}">
          {% for block in section.blocks %}

            {% assign feature_collection = block.settings.feature_collection %}
            {% assign collection = collections[feature_collection] %}

            {% if block.settings.image %}
              {% assign collection_image = block.settings.image %}
              {% assign collection_image_alt = block.settings.image.alt | escape %}
            {% elsif collection.image != blank %}
              {% assign collection_image = collection.image %}
              {% assign collection_image_alt = collection.title | escape %}
            {% else collection.empty? == false %}
              {% assign collection_image = collection.products.first.featured_image %}
              {% assign collection_image_alt = collection.products.first.featured_image.alt | escape %}
            {% endif %}

            <div class="
            {% if collections_per_row == 2 %}
              eight columns
            {% elsif collections_per_row == 3 %}
              one-third column
            {% elsif collections_per_row == 4 %}
              four columns
            {% else %}
              one-fifth column
            {% endif %}
            {% if section.settings.collection_count == blank and section.settings.frontpage_collections_title == blank %}blank{% endif %}
            thumbnail  {% if block_size < 5 %}{% cycle 'even', 'odd' %}{% endif %}
            {% if settings.mobile_products_per_row == '1' %}
              medium-down--one-half
              small-down--one-whole
            {% else %}
              medium-down--one-half
              small-down--one-half
            {% endif %}" {{ block.shopify_attributes }}>
            {% assign product = all_products[block.settings.featured_product] %}
              <div class="product-wrap">
                <div class="content">
                  {% if collection_image != nil %}
                    <div class="image__container">
                      <div class="feature_img animated">
                        {% include 'image-element', image: collection_image.src, alt: collection_image_alt, object_fit: section.settings.align_height, max_height: section.settings.collection_height %}
                      </div>
                      <div class="feature_product animated">
                        {% include 'image-element', image: product.featured_image, alt: collection_image_alt, object_fit: section.settings.align_height, max_height: section.settings.collection_height %}
                      </div>
                    </div>
                  {% else %}
                    {% capture num %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                    {{ 'collection-' | append: num | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endif %}

                  <div class="collection-info__caption" href="{{ collection.url }}">
                    <p class="subtitle">
                      {% if block.settings.title != blank %}
                        {{ block.settings.title }}
                      {% elsif collection != blank %}
                        {{ collection.title }}
                      {% else %}
                        {{ "homepage.onboarding.collection_title" | t }}
                      {% endif %}
                    </p>
                    <div class="content content-title animated fadeIn">
                      {% if block.settings.content != blank %}
                        {{ block.settings.content }}
                      {% else %}
                        {{ collection.description | strip_html | rstrip }}
                      {% endif %}
                    </div>
                    <div class="content product-title animated fadeIn">
                      <p>{{ product.title }}</p>
                    </div>
                  </div>
                </div>
                <a href="{% if block.settings.link != blank %}{{ block.settings.link }}{% else %}{{ collection.url }}{% endif %}" class="button" style="width: 185px">{{ 'general.buttons.discover' | t }}</a>
              </div>
            </div>
            {% if block_size < 5 %}
              {% if collections_per_row == 2 %}
                {% cycle '', '<br class="clear product_clear" />' %}
              {% elsif collections_per_row == 3 %}
                {% cycle '', '', '<br class="clear product_clear" />' %}
              {% elsif collections_per_row == 4 %}
                {% cycle '', '', '', '<br class="clear product_clear" />' %}
              {% elsif collections_per_row == 5 %}
                {% cycle '', '', '', '', '<br class="clear product_clear" />' %}
              {% endif %}
            {% endif %}
            

          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
</div>

{% if section.settings.align_height == true %}
  <!-- <style>
    #shopify-section-{{ section.id }} .list-collections .thumbnail img {
      max-height: {{ section.settings.collection_height }}px;
    }
  </style> -->
{% endif %}

{% schema %}
{
  "name": "Collection list",
  "class": "collection-list-section",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Collection list"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Heading",
      "default": "Life moves pretty fast. If you don’t stop and look around once in awhile, you could miss it."
    },
    {
      "type": "checkbox",
      "id": "align_height",
      "label": "Align height of collection images"
    },
    {
      "type": "range",
      "id": "collection_height",
      "label": "Collection image height",
      "min": 150,
      "max": 400,
      "step": 10,
      "default": 200,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "frontpage_collections_per_row",
      "label": "Collections per row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "feature_collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "480 x 398px recommended"
        },
        {
          "type": "product",
          "id": "featured_product",
          "label": "Featured product"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Collection list",
    "category": "Collection",
    "settings": {

    },
    "blocks": [
      {
        "type": "collection"
      },
      {
        "type": "collection"
      },
      {
        "type": "collection"
      }
    ]
  }]
}
{% endschema %}
