<div id="page-amb-section">
  {% if section.settings.show_banner and section.settings.header_banner_image != blank %}
     {% include 'page-brand'%}
  {% endif %}

  {% assign items_per_row = section.settings.items_per_row %}
  {% assign page = 0 %}
  <div class="filter">
    <label>Filter By </label>
    <select class="select-filter">
      <option value="all" selected>All Adventures</option>
      {% assign blocks_str = '' %}
      {% for block in section.blocks %}
          {% assign blocks_str = blocks_str | append : pages[block.settings.item_url].metafields["global"]["Ambassador-filters"] | append: ',' %}
      {% endfor %}
      {% assign blocks = blocks_str | split: ',' | uniq %}
      {% for block in blocks %}
        {% assign val = block | replace: ' ', '_' %}
        <option value="{{val}}">{{block}}</option>
      {% endfor %}
    </select>
  </div>  
  <div class="container blog-content">
    <div class="sixteen columns" data-blog-size="" style="padding: 50px 0px;">
      {% if section.blocks.size >0 %}
        {% for block in section.blocks %}
          {%- assign class = pages[block.settings.item_url].metafields["global"]["Ambassador-filters"] | replace: ' ', '_' -%}
          {%- assign category = pages[block.settings.item_url].metafields["global"]["Ambassador-filters"] -%}

          {% assign size = category | size %}
          {% if page > section.settings.blog_posts_per_page %}
            <div class="{{ class }} filter-item blog-item blogBox moreBox {% if items_per_row == 2 %}eight columns{% elsif items_per_row == 3 %}one-third column{% else %}four columns{% endif %} article medium-down--one-whole" style="display: none;">
              {% if pages[block.settings.item_url].metafields["global"]["Featured-image"] != blank %}
                <a href="{{ block.settings.item_url  }}" class="zoom">
                    <div class="image-element__wrap" style='background: url({{ pages[block.settings.item_url].metafields["global"]["Featured-image"] | image_url: "original" }}) no-repeat 50% 50% / cover; height: 320px;'>
                    </div>
                </a>
              {% endif %}
              <span class="category">{{ category | slice: 0, size }}</span>
              <p class="sub_title">
              <a href="{{ block.settings.item_url }}">{{ pages[block.settings.item_url].title }}</a>
              </p>
              <p class="blog_meta">
                <span>{{ pages[block.settings.item_url].metafields["global"]["Address"] | upcase }}</span>
              </p>
              <p class="blog_meta">
                <span>{{ pages[block.settings.item_url].metafields["global"]["city-and-state"] }}</span>
              </p>
            </div>
          {% else %}
            <div class="{{ class }} filter-item blog-item blogBox moreBox {% if items_per_row == 2 %}eight columns{% elsif items_per_row == 3 %}one-third column{% else %}four columns{% endif %} article medium-down--one-whole" >
              {% if pages[block.settings.item_url].metafields["global"]["Featured-image"] != blank %}
                <a href="{{ block.settings.item_url  }}" class="zoom">
                    <div class="image-element__wrap" style='background: url({{ pages[block.settings.item_url].metafields["global"]["Featured-image"] | image_url: "original" }}) no-repeat 50% 50% / cover; height: 320px;'>
                    </div>
                </a>
              {% endif %}
              <span class="category">{{ category | slice: 0, size }}</span>
              <p class="sub_title">
              <a href="{{ block.settings.item_url }}">{{ pages[block.settings.item_url].title }}</a>
              </p>
              <p class="blog_meta">
                <span>{{ pages[block.settings.item_url].metafields["global"]["Address"] | upcase }}</span>
              </p>
            </div>
          {% endif %}
          {% assign page =  page | plus: 1 %}
        {% endfor %}
        <div id="loadMore">
          <a href="#">Load More</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
{
    "name"  : "Content section",
    "class" : "blog-section",
    "max_blocks": 20,
    "settings"  : [
        {
            "type": "header",
            "content": "Header banner"
        },
        {
            "type": "checkbox",
            "id": "show_banner",
            "label": "Feauture heading banner",
            "default": true
        },
        {
            "type": "image_picker",
            "id": "header_banner_image",
            "label": "Header banner",
            "info": "2048 x 600px recommended"
        },
        {
          "type": "checkbox",
          "id": "image_darken",
          "label": "Darken image",
          "default": false
        },
        {
          "type": "select",
          "id": "collection_title_position",
          "label": "Collection title position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        },
        {
            "type": "image_picker",
            "id": "header_banner_icon",
            "label": "Banner icon"
        },
        {
          "type": "checkbox",
          "id": "display_collection_title",
          "label": "Display caption title"
        },
        {
          "type": "checkbox",
          "id": "display_collection_content",
          "label": "Display caption content"
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "checkbox",
          "id": "caption_background_transparency",
          "label": "Enable text background transparency"
        },
        {
          "type": "color",
          "id": "cap_bg_color",
          "label": "Caption background color"
        },
        {
          "type": "color",
          "id": "cap_title_color",
          "label": "Caption title color"
        },
        {
          "type": "checkbox",
          "id": "red_caption",
          "label": "Show red caption"
        },
        {
          "type": "header",
          "content": "Page content"
        },
        {
            "type": "range",
            "id": "item_per_row",
            "label": "Items per row",
            "min": 2,
            "max": 7,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "mobile_item_row",
            "label": "Mobile items per row",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "blog_posts_per_page",
            "label": "Blog posts per page",
            "min": 1,
            "max": 50,
            "step": 1,
            "default": 12
        }
    ],
    "blocks" : [
        {
        "type": "image",
        "name": "Items",
        "settings": [
                {
                    "type": "page",
                    "id": "item_url",
                    "label": "Item url"
                }
            ]
        }
    ]
}
{% endschema %}
