{% comment %}
** FAQ page - custom view **
- Page template
- Uses blocks
{% endcomment %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {% for block in section.blocks %}
        {% unless block.type == 'heading' %}
          {
            "@type": "Question",
            "name": "{{ block.settings.title | escape }}",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "{{ block.settings.subtitle | strip_html }}"
            }
          }{% unless forloop.last %},{% endunless %}
        {% endunless %}
      {% endfor %}
    ]
  }
  </script>
  
  {% if section.settings.show_banner and section.settings.header_banner_image != blank %}
    {% include 'page-brand'%} 
  {% endif %}
  
  <a name="pagecontent" id="pagecontent"></a>
  
  <div class="container main content">
    <div class="sixteen columns main-content">
      {% if section.blocks.size > 0 %}
        {% if section.settings.feature_tab == true%}
          <ul class="tabs">
            <li><a data-toggle="pill" href="#menu1" class="active">General</a></li>
            <li><a data-toggle="pill" href="#menu2">Outdoor Recreation</a></li>
            <li><a data-toggle="pill" href="#menu3">Simple Sensations</a></li>
            <li><a data-toggle="pill" href="#menu4">Just In case…(r)</a></li>
            <li><a data-toggle="pill" href="#menu5">Pro-pak</a></li>
          </ul>
          
          <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
              <dl class="faqAccordion">
                {% for block in section.blocks %}
                  {% if block.settings.faq_tab_index == '1' %}
                    {% if block.type == "heading" %}
                      {% if block.settings.heading != blank %}
                        <h2 class="title faq--heading">{{ block.settings.heading }}</h2>
                      {% endif %}
                    {% endif %}
                    {% if block.settings.title != blank %}
                      <dt><button type="button" aria-controls="panel-01" aria-expanded="true">{{ block.settings.title }}</button></dt>
                      <dd id="panel-01" aria-hidden="false">
                        {{ block.settings.subtitle }}
                      </dd>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </dl>
            </div>
            <div id="menu2" class="tab-pane fade">
              <dl class="faqAccordion">
                {% for block in section.blocks %}
                  {% if block.settings.faq_tab_index == '2' %}
                    {% if block.type == "heading" %}
                      {% if block.settings.heading != blank %}
                        <h2 class="title faq--heading">{{ block.settings.heading }}</h2>
                      {% endif %}
                    {% endif %}
                    {% if block.settings.title != blank %}
                      <dt><button type="button" aria-controls="panel-01" aria-expanded="true">{{ block.settings.title }}</button></dt>
                      <dd id="panel-01" aria-hidden="false">
                        {{ block.settings.subtitle }}
                      </dd>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </dl>
            </div>
            <div id="menu3" class="tab-pane fade">
              <dl class="faqAccordion">
                {% for block in section.blocks %}
                  {% if block.settings.faq_tab_index == '3' %}
                    {% if block.type == "heading" %}
                      {% if block.settings.heading != blank %}
                        <h2 class="title faq--heading">{{ block.settings.heading }}</h2>
                      {% endif %}
                    {% endif %}
                    {% if block.settings.title != blank %}
                      <dt><button type="button" aria-controls="panel-01" aria-expanded="true">{{ block.settings.title }}</button></dt>
                      <dd id="panel-01" aria-hidden="false">
                        {{ block.settings.subtitle }}
                      </dd>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </dl>
            </div>
            <div id="menu4" class="tab-pane fade">
              <dl class="faqAccordion">
                {% for block in section.blocks %}
                  {% if block.settings.faq_tab_index == '4' %}
                    {% if block.type == "heading" %}
                      {% if block.settings.heading != blank %}
                        <h2 class="title faq--heading">{{ block.settings.heading }}</h2>
                      {% endif %}
                    {% endif %}
                    {% if block.settings.title != blank %}
                      <dt><button type="button" aria-controls="panel-01" aria-expanded="true">{{ block.settings.title }}</button></dt>
                      <dd id="panel-01" aria-hidden="false">
                        {{ block.settings.subtitle }}
                      </dd>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </dl>
            </div>
            <div id="menu5" class="tab-pane fade">
              <dl class="faqAccordion">
                {% for block in section.blocks %}
                  {% if block.settings.faq_tab_index == '5' %}
                    {% if block.type == "heading" %}
                      {% if block.settings.heading != blank %}
                        <h2 class="title faq--heading">{{ block.settings.heading }}</h2>
                      {% endif %}
                    {% endif %}
                    {% if block.settings.title != blank %}
                      <dt><button type="button" aria-controls="panel-01" aria-expanded="true">{{ block.settings.title }}</button></dt>
                      <dd id="panel-01" aria-hidden="false">
                        {{ block.settings.subtitle }}
                      </dd>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </dl>
            </div>
          </div>
        {% else %}
        <dl class="faqAccordion">
          {% for block in section.blocks %}
              {% if block.type == "heading" %}
                {% if block.settings.heading != blank %}
                  <h2 class="title faq--heading">{{ block.settings.heading }}</h2>
                {% endif %}
                {% if block.settings.description != blank %}
                  <h5 class="subtitle">{{ block.settings.description }}</h5>
                {% endif %}
              {% endif %}
              {% if block.settings.title != blank %}
                <h5 class="subtitle">{{ block.settings.title }}</h5>
                <p>
                  {{ block.settings.subtitle }}
                </p>
              {% endif %}
          {% endfor %}
        </dl>
        {% endif %}
      {% endif %}
    </div>
  </div>
  
  <style>
    {% if section.settings.show_banner %}
      .mobile_nav-fixed--true #pagecontent, .mobile_nav-fixed--false #pagecontent {
        padding: 0;
      }
      @media only screen and (max-width: 479px) {
        div.content {
          padding-top: 0;
        }
      }
    {% endif %}
  </style>
  
  {% schema %}
  
  {
    "name": "Page | faq",
    "class": "faq-section",
    "settings": [
      {
        "type": "header",
        "content": "Header banner"
      },
      {
          "type": "checkbox",
          "id": "show_banner",
          "label": "Feauture heading banner",
          "default": true
      },
      {
          "type": "image_picker",
          "id": "header_banner_image",
          "label": "Header banner",
          "info": "2048 x 1583px recommended"
      },
      {
        "type": "checkbox",
        "id": "image_darken",
        "label": "Darken image",
        "default": false
      },
      {
        "type": "select",
        "id": "collection_title_position",
        "label": "Collection title position",
        "options": [
            {
            "value": "left",
            "label": "Left"
            },
            {
            "value": "center",
            "label": "Center"
            },
            {
            "value": "right",
            "label": "Right"
            }
        ]
      },
      {
          "type": "image_picker",
          "id": "header_banner_icon",
          "label": "Banner icon"
      },
      {
          "type": "checkbox",
          "id": "display_collection_title",
          "label": "Display caption title"
      },
      {
          "type": "checkbox",
          "id": "display_collection_content",
          "label": "Display caption content"
      },
      {
          "type": "select",
          "id": "text_align",
          "label": "Text alignment",
          "options": [
              {
              "value": "left",
              "label": "Left"
              },
              {
              "value": "center",
              "label": "Center"
              },
              {
              "value": "right",
              "label": "Right"
              }
          ],
          "default": "center"
      },
      {
          "type": "checkbox",
          "id": "caption_background_transparency",
          "label": "Enable text background transparency"
      },
      {
          "type": "color",
          "id": "cap_bg_color",
          "label": "Caption background color"
      },
      {
          "type": "color",
          "id": "cap_title_color",
          "label": "Caption title color"
      },
      {
          "type": "checkbox",
          "id": "red_caption",
          "label": "Show red caption"
      }
    ],
    "blocks": [
      {
        "name": "Heading",
        "type": "heading",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Title"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "subheading",
            "default": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          }
        ]
      },
      {
        "name": "Frequently Asked Question",
        "type": "Content",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Question",
            "default": "Title"
          },
          {
            "type": "richtext",
            "id": "subtitle",
            "label": "Answer",
            "default": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          },
          {
            "type": "select",
            "id": "faq_tab_index",
            "label": "Tab index",
            "options": [
              {
                "value": "1",
                "label": "GENERAL"
              },
              {
                "value": "2",
                "label": "Outdoor Recreation"
              },
              {
                "value": "3",
                "label": "Simple Sensations"
              },
              {
                "value": "4",
                "label": "Just In case…(r)"
              },
              {
                "value": "5",
                "label": "Pro-pak"
              }
            ]
          }
        ]
      }
    ],
    "default": {
      "settings": {
        "text_align": "center"
      },
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "heading": "Section"
          }
        },
        {
          "type": "Content",
          "settings": {
            "title": "Title",
            "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          }
        },
        {
          "type": "Content",
          "settings": {
            "title": "Title",
            "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          }
        },
        {
          "type": "Content",
          "settings": {
            "title": "Title",
            "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          }
        },
        {
          "type": "heading",
          "settings": {
            "heading": "Section"
          }
        },
        {
          "type": "Content",
          "settings": {
            "title": "Title",
            "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          }
        },
        {
          "type": "Content",
          "settings": {
            "title": "Title",
            "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          }
        },
        {
          "type": "Content",
          "settings": {
            "title": "Title",
            "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          }
        }
      ]
    }
  }
  
  {% endschema %}
  