{% comment %}
** Image with text (half and half view) - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

{% if section.settings.show_banner and section.settings.header_banner_image != blank %}
    {% include 'page-brand'%} 
{% endif %}




    <div class="image-with-text
                featured_collections
                clearfix across-1 image-align--{{ section.settings.frontpage_image_position }}
                full-width--true
                ">
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          <section class="featured-link--section featured-link--image section-{{ forloop.index }}" {{ block.shopify_attributes }}>
            <div class="featured-link--half featured-link--image featured-link--margin image-crop--{{ block.settings.image_crop }}">
              <div class="featured-link--wrap">
                  {% if block.settings.image %}
                    {% include 'image-element', image: block.settings.image, alt: block.settings.image.alt, stretch_width: true %}
                  {% else %}
                    {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                    {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                  {% endif %}
              </div>
            </div>
            <div class="featured-link--half feature-text block--{{ block.id }}">
              <div class="info text-align--{{section.settings.frontpage_text_align}}">
                {% if block.settings.button_label != blank %}
                  <h1 class="brand 
                    {% if block.settings.is_donation_button_red %}donation_button_red{% endif %}
                    {% if block.settings.is_donation_button_blue %}donation_button_blue{% endif %}
                    {% if block.settings.is_donation_button_black %}donation_button_black{% endif %}
                    ">
                    {% if block.settings.is_donation_button_black or block.settings.is_donation_button_blue or block.settings.is_donation_button_red and block.settings.donation_count != blank %}
                      <span class="count">{{ block.settings.donation_count }}</span>
                    {% endif %}
                      {{ block.settings.button_label }}
                  </h1> 
                {% endif %}
                <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="collection_title">
                  {{ block.settings.title }}
                </a>
                {% if block.settings.text != blank %}
                  <div class="description">{{ block.settings.text }}</div>
                {% endif %}
                
              </div>
            </div>
          </section>
        {% endfor %}
      {% endif %}
    </div>

<style>

  {% for block in section.blocks %}
    .block--{{ block.id }} {
      background-color: {{ block.settings.bg_color }};
    }

    .block--{{ block.id }} .collection_title,
    .block--{{ block.id }} p {
      color: {{ block.settings.text_color }};
    }

    .block--{{ block.id }} a.button {
      color: {{ block.settings.text_color }};
      border-color: {{ block.settings.text_color }};
    }
  {% endfor %}

</style>

{% schema %}
{
  "name": "Preview section",
  "class": "image-with-text-section",
  "max_blocks": 16,
  "settings": [
    {
      "type": "header",
      "content": "Header banner"
    },
    {
        "type": "checkbox",
        "id": "show_banner",
        "label": "Feauture heading banner",
        "default": true
    },
    {
        "type": "image_picker",
        "id": "header_banner_image",
        "label": "Header banner",
        "info": "2048 x 1583px recommended"
    },
    {
      "type": "checkbox",
      "id": "image_darken",
      "label": "Darken image",
      "default": false
    },
    {
      "type": "select",
      "id": "collection_title_position",
      "label": "Collection title position",
      "options": [
          {
          "value": "left",
          "label": "Left"
          },
          {
          "value": "center",
          "label": "Center"
          },
          {
          "value": "right",
          "label": "Right"
          }
      ]
    },
    {
        "type": "image_picker",
        "id": "header_banner_icon",
        "label": "Banner icon"
    },
    {
        "type": "checkbox",
        "id": "display_collection_title",
        "label": "Display caption title"
    },
    {
        "type": "checkbox",
        "id": "display_collection_content",
        "label": "Display caption content"
    },
    {
        "type": "select",
        "id": "text_align",
        "label": "Text alignment",
        "options": [
            {
            "value": "left",
            "label": "Left"
            },
            {
            "value": "center",
            "label": "Center"
            },
            {
            "value": "right",
            "label": "Right"
            }
        ],
        "default": "center"
    },
    {
        "type": "checkbox",
        "id": "caption_background_transparency",
        "label": "Enable text background transparency"
    },
    {
        "type": "color",
        "id": "cap_bg_color",
        "label": "Caption background color"
    },
    {
        "type": "color",
        "id": "cap_title_color",
        "label": "Caption title color"
    },
    {
        "type": "checkbox",
        "id": "red_caption",
        "label": "Show red caption"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image with text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1024 x 682px recommended"
        },
        {
          "type": "select",
          "id": "image_crop",
          "label": "Image cropping",
          "default": "none",
          "info": "Only applied when text area is taller than image.",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "none",
              "label": "None"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your headline"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Promotion description appears here.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "View all"
        },
        {
          "type": "checkbox",
          "id": "is_donation_button_red",
          "label": "Red Donation"
        },
        {
          "type": "checkbox",
          "id": "is_donation_button_black",
          "label": "Black Donation"
        },
        {
          "type": "checkbox",
          "id": "is_donation_button_blue",
          "label": "Blue Donation"
        },
        {
          "type": "text",
          "id": "donation_count",
          "label": "Donation Count",
          "default": "1234"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Button link"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Preview section",
    "category": "Layout",
    "settings": {
    },
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "image"
      }
    ]
  }]
}
{% endschema %}
